* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: rgba(128, 128, 128, 0.265);
}

header {
    width: 70%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

.content-1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.content-1 span {
    width: 2vw;
    height: 4vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.content-2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-2 ul {
    width: 100%;
    height: 100%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.content-2 li a {
    text-decoration: none;
    position: relative;
    color: black;
    font-size: 1.2vw;
}

.content-2 li a:after {
    content: '';
    position: absolute;
    background-color: black;
    width: 0%;
    height: 3px;
    display: block;
    transition: 0.7s;
}

.content-2 li a:hover:after {
    width: 100%;
}

.content-2 h4 {
    width: 8vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 1vw;
}

.content-3 {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-3 a {
    color: black;
    font-size: 1.6vw;
}

#home {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page {
    width: 70%;
    height: 80%;
    display: flex;
}

.home {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-home-1 {
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation: 3s mov-1;
}

@keyframes mov-1 {
    from {
        opacity: 0;
        margin-left: -10vw;
    }

    to {
        opacity: 1;
        margin-left: 0;
    }
}

.content-home-1 span {
    font-weight: 900;
    font-size: 1.9vw;
    position: relative;
}

.content-home-1 span:after {
    content: '';
    position: absolute;
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.543), rgba(255, 255, 255, 0));
    height: 5vh;
    display: block;
    margin-top: -4.8vh;
    z-index: -1;
    animation: 4s mov-4;
    width: 100%;
}

@keyframes mov-4 {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.content-home-1 h1 {
    width: 100%;
    font-weight: 900;
    font-size: 3vw;
}

.content-home-1 p {
    width: 90%;
    margin-left: auto;
    font-size: 1.5vw;

}

.home-2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img {
    width: 60%;
    height: 70%;
    display: flex;
    border: 5px solid;
    animation: 3s mov-2;
}

@keyframes mov-2 {
    from {
        opacity: 0;
        margin-right: -10vw;
    }

    to {
        opacity: 1;
        margin-right: 0;
    }
}

.image {
    width: 21vw;
    height: 55vh;
    background-image: url(./ahmed-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -7vh;
    margin-left: -3vw;
}

.icone {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.content-icone {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-left: -8vw;
    animation: 3s mov-3;
}

@keyframes mov-3 {
    from {
        opacity: 0;
        margin-left: 0;
    }

    to {
        opacity: 1;
        margin-left: -8vw;
    }
}

.content-icone a {
    width: 100%;
    color: white;
    text-decoration: none;
}

.content-icone h1 {
    width: 2vw;
    height: 4vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s ease-in;
}

.content-icone h1:hover {
    background-color: black;
}

#page-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-page-1 {
    width: 80%;
    height: 80%;
    display: flex;
}

.page-1-info {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-1-img {
    width: 45%;
    height: 90%;
    display: flex;
    background-color: rgb(210, 210, 210);
    border-bottom: 5px solid rgb(255, 115, 0);
    margin-left: 15vw;
}

.image-2 {
    width: 21vw;
    height: 55vh;
    background-image: url(./ahmed-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 8vh;
    margin-left: -9vw;
    border: 8px solid white;
}

.page-1-tittle {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle-content {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tittle-content h1 {
    width: 100%;
    font-size: 3vw;
}

.tittle-content-1 {
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#tittle-para {
    width: 10%;
    height: 45%;
    display: flex;
    justify-content: center;
}

.tittle-content-1 p {
    font-size: 1.5vw;
    width: 90%;
}

.tittle-content h4 {
    width: 9vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 1vw;
    transition: 0.7s;
}

.tittle-content h4:hover {
    background-color: rgb(255, 106, 0);
}

.tittle-content-1 ul {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bolde-tittle {
    font-weight: 900;
}

.tittle-content-2 {
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

}

.tittle-content-2 h4 {
    font-size: 1.1vw;
    gap: 5px;
}

.tittle-content-2 a {
    text-decoration: none;
}

.tittle-content-2 h1 {
    width: 3.5vw;
    height: 6.4vh;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    color: black;
    transition: 0.7s;
}

.tittle-content-2 h1:hover {
    border: 3px solid rgb(255, 106, 0);
}

#page-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-page-2 {
    width: 80%;
    height: 80%;
}

.tittle-page-2 {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
}

.info-page-2 {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.card-border {
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-1 {
    width: 20vw;
    height: 50vh;
    border: 5px solid;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255)
}

.card-2 {
    width: 20vw;
    height: 50vh;
    border: 5px solid;
    position: absolute;
    transition: 0.5s ease-out;
    border: 5px solid rgb(255, 102, 0);
}

.card-border:hover {
    .card-2 {
        margin-left: 3vw;
        margin-top: 6vh;
    }
}
.card-content{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10vh;
    padding-left: 2vw;
}
.card-content h1{
    width: 100%;
}

.card-content h1 i {
    width: 4vw;
    height: 8vh;
    font-size: 3vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-content  i:after {
    content: '';
    position: absolute;
    background-color: rgb(255, 123, 0);
    width: 50%;
    height: 30px;
    transition: 0.7s;
    margin-top: -3vh;
    margin-right: -2vw;
    z-index: -1;
}

.card-content p{
    width: 80%;
    margin-top: 1vh;
}
#page-3{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-page-3{
    width: 80%;
    height: 80%;
}