@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: rgb(232, 232, 232);
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 232, 232);
    position: fixed;
    z-index: 999;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.185);
}

.nav-content {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.content-1 span {
    width: 2vw;
    height: 4vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.content-2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-2 ul {
    width: 90%;
    height: 100%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.content-2 li a {
    text-decoration: none;
    position: relative;
    color: black;
    font-size: 1.2vw;
}

.content-2 li a:after {
    content: '';
    position: absolute;
    background-color: black;
    width: 0%;
    height: 3px;
    display: block;
    transition: 0.7s;
}

.content-2 li a:hover:after {
    width: 100%;
}

.content-2 a {
    text-decoration: none;
}

.content-2 h4 {
    width: 8vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 1vw;
}

.content-3 {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-3 a {
    color: black;
    font-size: 1.6vw;

}

.theme {
    background-color: rgb(0, 0, 0);

    header {
        background-color: rgb(0, 0, 0);
    }

    .nav-content {
        color: black;
    }

    .content-1 span {
        background-color: white;
        color: black;
    }

    .content-1 h3 {
        color: white;
    }

    .content-2 li a {
        color: white;
    }

    @media (min-width:1000px) {
        .content-2 h4 {
            background-color: white;
            color: black;
        }
    }

    .content-2 li a:after {
        background-color: rgb(255, 115, 0);
    }

    .content-3 a {
        color: white;
    }

    #home {
        color: white;
    }

    #page-1 {
        color: white;
    }

    .tittle-content h4 {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }

    .tittle-content h4:hover {
        background-color: rgb(255, 106, 0);
    }

    .tittle-content-2 h1 {
        border: 3px solid rgb(255, 255, 255);
        color: rgb(255, 255, 255);
    }

    .tittle-content-2 h1:hover {
        border: 3px solid rgb(255, 106, 0);
    }

    .tittle-page-2 h1 {
        color: white;

    }

    .card-info {
        background-color: white;
    }

    .link-page-3 a {
        color: white;
    }

    #page-4 {
        color: white;
    }

    .card-page-4 {
        background-color: gray;
    }

    #nav-respo {
        color: white;
    }
}

#home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page {
    width: 70%;
    height: 70%;
    display: flex;
}


.home {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-home-1 {
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation: 3s mov-1;
}

@keyframes mov-1 {
    from {
        opacity: 0;
        margin-left: -10vw;
    }

    to {
        opacity: 1;
        margin-left: 0;
    }
}

.content-home-1 span {
    width: 100%;
    font-weight: 900;
    font-size: 1.8vw;
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.543), rgba(255, 255, 255, 0));
}

.content-home-1 h1 {
    width: 100%;
    font-weight: 900;
    font-size: 3vw;
}

.content-home-1 p {
    width: 90%;
    margin-left: auto;
    font-size: 1.5vw;

}

.home-2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img {
    width: 60%;
    height: 70%;
    display: flex;
    border: 5px solid;
    animation: 3s mov-2;
}

@keyframes mov-2 {
    from {
        opacity: 0;
        margin-right: -10vw;
    }

    to {
        opacity: 1;
        margin-right: 0;
    }
}

.image {
    width: 20vw;
    height: 50vh;
    background-image: url(./ahmed-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -3vh;
    margin-left: -2vw;
}

.icone {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.content-icone {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-left: -8vw;
    animation: 3s mov-3;
}

@keyframes mov-3 {
    from {
        opacity: 0;
        margin-left: 0;
    }

    to {
        opacity: 1;
        margin-left: -8vw;
    }
}

.content-icone a {
    width: 100%;
    color: white;
    text-decoration: none;
}

.content-icone h1 {
    width: 2vw;
    height: 4vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s ease-in;
}

.content-icone h1:hover {
    background-color: black;
}

#page-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-page-1 {
    width: 80%;
    height: 80%;
    display: flex;
}

.button-scrolle {
    width: 3vw;
    height: 6vh;
    background-color: rgb(0, 0, 0);
    position: absolute;
    margin-left: 50vw;
    margin-top: 90vh;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 10px;
}

.button-scrolle a {
    font-size: 2vw;
    text-decoration: none;
    color: white;
}

.page-1-info {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-1-img {
    width: 45%;
    height: 90%;
    display: flex;
    background-color: rgb(210, 210, 210);
    border-bottom: 5px solid rgb(255, 115, 0);
    margin-left: 15vw;
}

.image-2 {
    width: 21vw;
    height: 55vh;
    background-image: url(./ahmed-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 8vh;
    margin-left: -9vw;
    border: 8px solid white;
}

.page-1-tittle {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle-content {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tittle-content h1 {
    width: 100%;
    font-size: 3vw;
}

.tittle-content-1 {
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#tittle-para {
    width: 10%;
    height: 45%;
    display: flex;
    justify-content: center;
}

.tittle-content-1 p {
    font-size: 1.5vw;
    width: 90%;
}

.tittle-content h4 {
    width: 9vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 1vw;
    transition: 0.7s;
}

.tittle-content h4:hover {
    background-color: rgb(255, 106, 0);
}

.tittle-content-1 ul {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bolde-tittle {
    font-weight: 900;
}

.tittle-content-2 {
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

}

.tittle-content-2 h4 {
    font-size: 1.1vw;
    gap: 5px;
}

.tittle-content-2 a {
    text-decoration: none;
}

.tittle-content-2 h1 {
    width: 3.5vw;
    height: 6.4vh;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    color: black;
    transition: 0.7s;
}

.tittle-content-2 h1:hover {
    border: 3px solid rgb(255, 106, 0);
}

#page-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-page-2 {
    width: 80%;
    height: 80%;
}

.tittle-page-2 {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
}

.info-page-2 {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.card-border {
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-1 {
    width: 20vw;
    height: 50vh;
    border: 5px solid;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 232, 232);
}

.card-2 {
    width: 20vw;
    height: 50vh;
    border: 5px solid;
    position: absolute;
    transition: 0.5s ease-out;
    border: 5px solid rgb(255, 102, 0);
}

.card-border:hover {
    .card-2 {
        margin-left: 3vw;
        margin-top: 6vh;
    }
}

.card-content {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10vh;
    padding-left: 2vw;
}

.card-content h1 {
    width: 100%;
}

.card-content h1 i {
    width: 4vw;
    height: 8vh;
    font-size: 3vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-content i:after {
    content: '';
    position: absolute;
    background-color: rgb(255, 123, 0);
    width: 50%;
    height: 30px;
    transition: 0.7s;
    margin-top: -3vh;
    margin-right: -2vw;
    z-index: -1;
}

.card-content p {
    width: 90%;
    margin-top: 1vh;
}

#page-3 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-page-3 {
    width: 70%;
    height: 80%;
}

.card-page-3 {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.card-info {
    width: 20vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    transition: 0.8s ease-out;
}

.card-info:hover {
    background-color: white;
    transform: scale(1.1);

    .info-image-content {
        filter: grayscale(0%);
    }

    .info-tittle-1-2 h2 {
        background-color: rgb(255, 98, 0);
    }
}

.info-image {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-image-content {
    width: 90%;
    height: 90%;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    transition: 0.8s ease-in;
}

#img-1 {
    background-image: url(./web-1.png);
}

#img-2 {
    background-image: url(./web-2.png);
}

#img-3 {
    background-image: url(./web-3.png);
}

.info-tittle {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info-tittle-1 {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-tittle-1-1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.info-tittle-1-2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.info-tittle-1-1 h3 {
    font-size: 1.1vw;
}

.info-tittle-1-2 h2 {
    margin-top: -4vh;
    margin-left: 1.5vw;
    background-color: black;
    height: 6vh;
    width: 3vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.6vw;
    transition: 0.5s ease-in;
    z-index: 1;
}

.info-tittle-2 {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info-tittle-2 h1 {
    width: 100%;
    font-weight: 900;
}

.info-tittle-2 p {
    width: 100%;
}

.info-tittle-3 {
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.info-tittle-3 a {
    width: 4vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1vw;
    text-decoration: none;
    color: black;
    transition: 0.5s ease-in;
}

.info-tittle-3 a:hover {
    color: rgb(255, 98, 0);
}

.info-tittle-3 i {
    font-size: 1.3vw;
    margin-right: 0.2vw;
}

.link-page-3 {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-page-3 a {
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    text-decoration: none;
    color: black;
    transition: 0.5s ease-in;
}

.link-page-3 i {
    margin-right: 0.3vw;
}

.link-page-3 a:hover {
    color: rgb(255, 98, 0);
}

#page-4 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.content-page-4 {
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-page-4-1 {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-wrap: wrap;
}

.card-page-4 {
    width: 25vw;
    height: 45vh;
    background-color: rgb(224, 224, 224);
    margin-right: -3vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 5px solid rgb(255, 115, 0);
}

.card-page-4-content {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-page-4-content h1 {
    width: 100%;
    font-size: 3vw;
    margin-left: -5vw;
    margin-top: -2vh;
}

.card-page-4-content p {
    width: 70%;
}

.info-page-4 {
    width: 80%;
    height: 10vh;
    display: flex;
    gap: 5px;
}

.info-1 {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info-1 p {
    width: 90%;
}

#para-2 {
    font-weight: 900;
}

.info-2 {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 1vw;
}

.info-2 a {
    text-decoration: none;
}

.info-2 h1 {
    width: 2.4vw;
    height: 4.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s ease-in;
    background-color: rgb(121, 121, 121);
    text-decoration: none;
    color: white;
}

.info-2 h1:hover {
    background-color: black;
}

.content-page-4-2 {
    width: 60%;
    height: 95%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-page {
    width: 80%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-page h1 {
    width: 80%;
    color: white;
}

.contact-page form {
    width: 80%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.contact-page input,
.contact-page textarea {
    border: 3px solid gray;
    padding: 1vw;
    height: 2vh;
    background-color: black;
    color: white;
}


#input-cont {
    width: 10vw;
}

#input-cont-2 {
    width: 23vw;
}

#input-cont-3 {
    height: 15vh;
    width: 23vw;
    resize: none;
}

.contact-page h2 {
    width: 80%;
}

.contact-button {
    width: 80%;

}

.contact-button a {
    width: 10vw;
    height: 6.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    transition: 0.7s;
    font-size: 1.2vw;
    text-decoration: none;
    background-color: rgb(255, 115, 0);
}

.contact-page i {
    margin-right: 0.5vw;
}

.content-4 {
    display: none;
}

.content-2-2 {
    display: none;
}

#nav-content-2 {
    display: none;
}

@media (max-width :500px) {
    header {
        width: 100%;
        height: 9vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(232, 232, 232);
        position: fixed;
        z-index: 999;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.185);
    }

    .nav-content {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-1 {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5px;
    }

    .content-1 span {
        width: 20%;
        height: 50%;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 4vw;
    }

    #nav-content-1 {
        display: none;
    }

    #nav-content-2 {
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: end;
        background-color: rgba(0, 0, 0, 0.653);
        position: absolute;
        transition: 1s ease-in;
        backdrop-filter: blur(10px);
        margin-top: -100vh;
    }

    .content-2-tittle {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: end;
        align-items: end;
    }

    .content-2-tittle a {
        margin-right: 3vw;
        color: white;
        font-size: 9vw;
        margin-bottom: -2vh;
        background-color: red;
    }

    .content-2 ul {
        width: 30%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: start;
        list-style: none;
        flex-wrap: wrap;
    }

    .content-2 li {
        width: 100%;
        height: 20%;
        text-align: center;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-2 li a {
        text-decoration: none;
        position: 0;
        color: white;
        font-size: 6vw;
        width: 100%;
    }

    .content-2 li a:after {
        content: '';
        position: absolute;
        background-color: black;
        width: 0%;
        height: 3px;
        display: block;
        transition: 0.7s;
    }

    .content-2 li a:hover:after {
        width: 0%;
    }

    .content-2 a {
        text-decoration: none;
    }

    .content-2 h4 {
        width: 50vw;
        height: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        font-size: 6vw;
        margin-left: auto;
        margin-right: auto;
        font-weight: 100;
        font-weight: 200;
    }

    .content-2-2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-2-2 a {
        text-decoration: none;
        font-size: 7vw;
        color: white;
    }

    .content-3 {
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }

    .content-3 a {
        color: black;
        font-size: 6vw;
    }

    .content-4 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .content-4 a {
        text-decoration: none;
        font-size: 8vw;
        color: black;
    }

    #home {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .home-page {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap-reverse;
    }


    .home {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-home-1 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        animation: 3s mov-1;
        gap: 15px;
    }

    @keyframes mov-1 {
        from {
            opacity: 0;
            margin-left: -50vw;
        }

        to {
            opacity: 1;
            margin-left: 0;
        }
    }

    .content-home-1 h1 {
        width: 100%;
        text-align: center;
        font-weight: 900;
        font-size: 9vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .content-home-1 p {
        width: 70%;
        text-align: center;
        margin-left: 0;
        font-size: 4vw;
    }

    .content-home-1 p {
        width: 90%;
        text-align: center;
        font-size: 6vw;
    }

    .content-home-1 span {
        width: 100%;
        font-weight: 900;
        font-size: 6vw;
        background-image: linear-gradient(to right, rgba(255, 166, 0, 0.543), rgba(255, 255, 255, 0));
    }

    .home-2 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20vh;
    }

    .home-img {
        width: 60%;
        height: 80vw;
        display: flex;
        border: 5px solid;
        animation: 3s mov-2;
    }

    @keyframes mov-2 {
        from {
            opacity: 0;
            margin-right: -50vw;
        }

        to {
            opacity: 1;
            margin-right: 0;
        }
    }

    .image {
        width: 100%;
        height: 100%;
        background-image: url(./ahmed-1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-top: -2.8vh;
        margin-left: -5vw;
        animation: 3s mov-4;
    }

    @keyframes mov-4 {
        from {
            margin-top: 0vh;
            margin-left: 0vw;
        }

        to {
            margin-top: -2.8vh;
            margin-left: -5vw;
        }
    }

    .icone {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        display: none;
    }

    .content-icone {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        margin-left: 0;
        animation: 3s mov-3;
    }

    @keyframes mov-3 {
        from {
            opacity: 0;
            margin-left: 0;
        }

        to {
            opacity: 1;
            margin-left: 0;
        }
    }

    .content-icone a {
        width: 100%;
        color: white;
        text-decoration: none;
    }

    .content-icone h1 {
        width: 2vw;
        height: 4vh;
        background-color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.7s ease-in;
    }

    .content-icone h1:hover {
        background-color: black;
    }

    #page-1 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
        overflow: hidden;
    }

    .content-page-1 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .button-scrolle {
        width: 3vw;
        height: 6vh;
        background-color: rgb(0, 0, 0);
        position: absolute;
        margin-left: 50vw;
        margin-top: 90vh;
        display: flex;
        justify-content: center;
        align-items: end;
        border-radius: 10px;
    }

    .button-scrolle a {
        font-size: 2vw;
        text-decoration: none;
        color: white;
    }

    .page-1-info {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page-1-img {
        width: 50vw;
        height: 60vh;
        display: flex;
        background-color: rgb(210, 210, 210);
        border-bottom: 5px solid rgb(55, 0, 255);
        margin-left: 15vw;
        margin-top: 5vh;
    }

    .image-2 {
        width: 55vw;
        height: 50vh;
        background-image: url(./ahmed-2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-top: 4vh;
        margin-left: -20vw;
        border: 8px solid rgb(255, 255, 255);
    }

    .page-1-tittle {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tittle-content {
        width: 80%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .tittle-content h1 {
        width: 100%;
        font-size: 9vw;
        text-align: center;
    }

    .tittle-content-1 {
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    #tittle-para {
        width: 10%;
        height: 45%;
        display: flex;
        justify-content: center;
        align-items: top;
        display: none;
    }

    .tittle-content-1 p {
        font-size: 4vw;
        width: 100%;
        text-align: center;
    }

    .tittle-content h4 {
        width: 9vw;
        height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 106, 0);
        color: white;
        font-size: 1vw;
        transition: 0.7s;
    }

    .tittle-content-1 ul {
        width: 90%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1vh;
        list-style: none;
    }

    .tittle-content-1 ul li {
        font-size: 4vw;
    }

    #bolde-tittle {
        font-weight: 900;
        font-size: 4vw;
    }

    .tittle-content-2 {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 2vh;
    }

    .tittle-content-2 h4 {
        width: 35vw;
        font-size: 4vw;
        gap: 5px;
        background-color: rgb(255, 106, 0);
    }

    .tittle-content-2 a {
        text-decoration: none;
    }

    .tittle-content-2 h1 {
        width: 12vw;
        height: 6.5vh;
        font-size: 6vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid rgb(255, 106, 0);
        color: black;
        transition: 0.7s;
    }

    #page-2 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
    }

    .content-page-2 {
        width: 100%;
        height: 100%;
    }

    .tittle-page-2 {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .tittle-page-2 h1 {
        font-size: 11vw;
    }
    .info-page-2 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 30px;
    }

    .card-border {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-1 {
        width: 80vw;
        height: 40vh;
        border: 5px solid;
        position: initial;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(232, 232, 232);
        border: 5px solid rgb(255, 102, 0);
        border-radius: 70px 0px 70px 0px;
    }

    .card-2 {
        display: none;
    }

    .card-content {
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 0;
        padding-left: 2vw;
    }

    .card-content h1 {
        width: 100%;
        font-size: 8vw;
    }

    .card-content h1 i {
        width: 4vw;
        height: 8vh;
        font-size: 10vw;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .card-content i:after {
        content: '';
        position: absolute;
        background-color: rgb(255, 123, 0);
        width: 10vw;
        height: 5vh;
        transition: 0.7s;
        margin-top: -1vh;
        margin-right: -5vw;
        z-index: -1;
        border-radius: 50px;
    }

    .card-content p {
        width: 80%;
        margin-top: 1vh;
        font-size: 4vw;
    }

    #page-3 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }

    .content-page-3 {
        width: 100%;
        height: 100%;
    }

    .card-page-3 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }

    .card-info {
        width: 80vw;
        height: 60vh;
        display: flex;
        flex-wrap: wrap;
        transition: 0.8s ease-out;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border-radius: 20px;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.393);
    }

    .card-info:hover {
        background-color: white;
        transform: scale(1);

        .info-image-content {
            filter: grayscale(0%);
        }

        .info-tittle-1-2 h2 {
            background-color: rgb(255, 98, 0);
        }
    }

    .info-image {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-image-content {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        filter: grayscale(0%);
        transition: 0.8s ease-in;
        border-radius: 20px 20px 0px 0px;
    }

    #img-1 {
        background-image: url(./web-1.png);
    }

    #img-2 {
        background-image: url(./web-2.png);
    }

    #img-3 {
        background-image: url(./web-3.png);
    }

    .info-tittle {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .info-tittle-1 {
        width: 90%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-tittle-1-1 {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .info-tittle-1-2 {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .info-tittle-1-1 h3 {
        font-size: 4vw;
    }

    .info-tittle-1-2 h2 {
        margin-top: -5vh;
        margin-left: 10vw;
        background-color: black;
        height: 9vh;
        width: 15vw;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 9vw;
        transition: 0.5s ease-in;
        z-index: 1;
        background-color: rgb(255, 98, 0);
        border-radius: 10px;
    }

    .info-tittle-2 {
        width: 90%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .info-tittle-2 h1 {
        width: 100%;
        font-weight: 900;
        font-size: 6vw;
    }

    .info-tittle-2 p {
        width: 100%;
    }

    .info-tittle-3 {
        width: 90%;
        height: 30%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .info-tittle-3 a {
        width: 15vw;
        height: 4vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4vw;
        text-decoration: none;
        color: black;
        transition: 0.5s ease-in;
    }

    .info-tittle-3 a:hover {
        color: rgb(255, 98, 0);
    }

    .info-tittle-3 i {
        font-size: 5vw;
        margin-right: 0.5vw;
    }

    .link-page-3 {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }

    .link-page-3 a {
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6vw;
        text-decoration: none;
        color: rgb(255, 98, 0);
        transition: 0.5s ease-in;
    }

    .link-page-3 i {
        margin-right: 0.3vw;
    }

    .link-page-3 a:hover {
        color: rgb(255, 98, 0);
    }

    #page-4 {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-page-4 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .content-page-4-1 {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .card-page-4 {
        width: 80vw;
        height: 45vh;
        background-color: rgb(193, 193, 193);
        margin-right: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 5px solid rgb(255, 115, 0);
    }

    .card-page-4-content {
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .card-page-4-content h1 {
        width: 90%;
        font-size: 8vw;
        margin-left: 0;
        margin-top: 0;
    }

    .card-page-4-content p {
        width: 70%;
        font-size: 4vw;
    }

    .info-page-4 {
        width: 80%;
        height: 10vh;
        display: flex;
        gap: 5px;
    }

    .info-1 {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .info-1 p {
        width: 90%;
        font-size: 4vw;
    }

    #para-2 {
        font-weight: 900;
    }

    .info-2 {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-right: 1vw;
    }

    .info-2 a {
        text-decoration: none;
    }

    .info-2 h1 {
        width: 7vw;
        height: 4.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.7s ease-in;
        background-color: black;
        text-decoration: none;
        color: white;
    }

    .content-page-4-2 {
        width: 100%;
        height: 80%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-page {
        width: 90%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .contact-page h1 {
        width: 90%;
        color: white;
        font-size: 6vw;
        text-align: center;
    }

    .contact-page form {
        width: 90%;
        height: 70%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .contact-page input,
    .contact-page textarea {
        border: 3px solid gray;
        padding: 1vw;
        height: 5vh;
        background-color: black;
        color: white;
    }


    #input-cont {
        width: 100%;
    }

    #input-cont-2 {
        width: 100%;
    }

    #input-cont-3 {
        width: 100%;
        height: 15vh;
        resize: none;
    }

    .contact-page h2 {
        width: 80%;
    }

    .contact-button {
        width: 90%;
    }

    .contact-button a {
        width: 35vw;
        height: 6.4vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        transition: 0.7s;
        font-size: 4vw;
        text-decoration: none;
        background-color: rgb(255, 115, 0);
    }

    .contact-page i {
        margin-right: 0.5vw;
    }

}